# -*- coding: utf-8 -*-
#
# This software may be modified and distributed under the terms
# of the MIT license.  See the LICENSE file for details.

os: linux
dist: bionic
sudo: false
language: python
cache: pip

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install: pip install tox-travis
script: tox
